NEXT_PUBLIC_SUPABASE_URL= # Supabase URL goes here
NEXT_PUBLIC_SUPABASE_ANON_KEY= # Anon URL from Supabase
SUPABASE_SERVICE_ROLE_KEY= # role key
VITE_MAPBOX_TOKEN= # Mapbox API key/token goes here
PDFSHIFT_API_KEY= # PDFShift API Key goes here